

.wrap {
    padding: 10px;
    margin: 50px auto;
    box-shadow: 1px 1px 12px 0px #000000;
    width: 900px;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 10px;
    position: relative;
}
.close_wrap{
    background: #ffffff;
    border: 1px solid grey;
    position: absolute;
    top: -20px;
    right: -20px;
    width: 31px;
    height: 31px;
    border-radius: 18px;
    box-shadow: 1px 1px 5px 0px #000000;

}

.close {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    display: block;
    text-align: center;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background: #000000;
    position: absolute;
    top: 4px;
    left: 4px;
}

table {
    border-collapse: collapse;
    text-align: left;
    font-family: sans-serif;

}

tbody th, td {
    font-size: 14px;
    border-bottom: 1px solid grey;

}

th {
    font-weight: bold;
    padding: 10px 50px 10px 5px;
    border-bottom: 1px solid grey;

}

tr:last-child td {
    border-bottom: none;
}

tbody td:first-child {
    color: red;
    padding: 5px 40px 5px 5px;
}

 .plus, .minus, .delete button {
    box-sizing: content-box;
    background: #e7242a;
    border: none;
    line-height: 1;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
}

.plus {
    padding: 5px 12px;
}

.minus {
    padding: 5px 14px;
    margin: -6px;
}

.delete {
    box-sizing: content-box;
    background: #dc4e45;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    padding: 10px 12px;
    margin: 6px 61px 5px -15px;
    border: none;

}

tfoot td {
    text-align: right;
    font-size: 16px;
    border: none;
    color: #000000;
    border-right: 5px solid #eeeeee;
    border-bottom: none;

}

tfoot tr:first-child td {
    padding: 40px 15px 0 0;
    border-right: none;

}

tfoot tr:last-child td {
    color: lightgrey;
    font-size: 14px;
    padding: 5px 15px 0 0;

}

.basket {
    box-sizing: content-box;
    display: block;
    color: red;
    text-decoration: none;
    font-style: italic;
    font-size: 20px;
    font-family: sans-serif;
    padding: 25px 0;
    width: 25%;
    position: relative;
    top: 5px;
    left: 308px;
}
