div {
  background: black;
  width: 30px;
  height: 21px;
  margin: 50px;
  position: relative;
}
div:before {
  font-size: 14px;
  line-height: 1;
  content: "	\0025C4 ";
  display: block;
  position: absolute;
  top: 50%;
  left: -10px;
  margin-top: -7px;
}
